<mat-card>

    <mat-card-header>
        <mat-card-title *ngIf="vivienda"> {{vivienda.ciudad}} </mat-card-title>
        <mat-card-subtitle *ngIf="vivienda"> {{vivienda.departamento}} </mat-card-subtitle>
    </mat-card-header>

    <img *ngIf="vivienda" alt="imagen principal de la vivienda" mat-card-image src="{{vivienda.archivos[0].ruta}}">

    <mat-card-content *ngIf="vivienda">
        <h3> Costo diario </h3>
        <p>
            <strong> {{vivienda.costoDiario | currency}} COP </strong>
        </p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions *ngIf="vivienda">
        <button 
            mat-button color="info"
            [routerLink]="['/viviendas/', vivienda.id]">
            Ver más
        </button>
    </mat-card-actions>
</mat-card>
